{% load static %}    
{% block styles %}
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet">
      
        <!-- Icons -->
        <link href="{% static 'assets/css/nucleo-icons.css' %}" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
          
        <!-- Theme CSS -->
        <link type="text/css" href="{% static 'assets/css/blk-design-system.min.css' %}" rel="stylesheet">
    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
{% endblock %}
  